@{
    ViewBag.Title = "لینک تایید ایمیل";
}
<h2>@ViewBag.Title.</h2>
<p class="text-info">
    لطفا ایمیل خود را کنترل کنید و آن‌را تایید کنید
</p>
<p class="text-danger">
    صرفا آزمایشی: فقط بر روی این لینک کلیک کنید تا ایمیل‌تان تایید شود: <a href="@ViewBag.Link">لینک</a>
    Please change this code to register an email service in IdentityConfig to send an email.
</p>
