@{
    ViewBag.Title = "خانه";
}
<hr />
<!-- Slideshow Start-->
<div class="slideshow single-slider owl-carousel">
    <div class="item"> <a href="#"><img class="img-responsive" src="~/ContentRtl/image/slider/AMC.jpg" alt="AMC" /></a> </div>
    <div class="item"> <a href="#"><img class="img-responsive" src="~/ContentRtl/image/slider/amm.jpg" alt="AMM" /></a> </div>
    <div class="item"> <a href="#"><img class="img-responsive" src="~/ContentRtl/image/slider/Cogs.jpg" alt="Cogs" /></a> </div>
    <div class="item"> <a href="#"><img class="img-responsive" src="~/ContentRtl/image/slider/optimum.jpg" alt="optimum" /></a> </div>
    <div class="item"> <a href="#"><img class="img-responsive" src="~/ContentRtl/image/slider/Quick.jpg" alt="Quick" /></a> </div>
</div>
<!-- Slideshow End-->
<div class="jumbotron">
    <h1>سبدگردان بهینه</h1>
    <p class="lead">صنعت مدیریت دارایی، نقشی اساسی در ثبات بازارهای مالی دارد، طوری‌که مدیران حرفه‌ای با صرفه‌جویی در مقیاس، ارائه تنوع‌بخشی، و کاهش هزینه‌های واسطه‌گری، نقشی بسیار مهم در کارائی اطلاعاتی بازارهای مالی ایفاء می‌کنند.</p>
    <p><a href="#" class="btn btn-primary btn-lg">بیشتر &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>شروع به سرمایه‌گذاری</h2>
        <p>
            شرکت سبدگردان بهینه با مدیران متخصص در حوزه علوم مالی و سرمایه‌گذاری، می‌توانند به شما در رسیدن به اهداف سرمایه‌گذاری‌تان، کمک شایانی نمایند.
        </p>
        <p><a class="btn btn-default" href="#">بیشتر &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>دریافت خدمات بیشتر</h2>
        <p>سرمایه‌گذاری در دارایی‌های متنوع نظیر سهام، اوراق با درآمد ثابت، صندوق‌های سرمایه‌گذاری، سبدگردانی اختصاصی، تنها چند مورد از خدمات قابل ارائه شرکت سبدگردان بهینه است. ارائه پلتفرم‌های سبدگردانی مبتنی بر فناوری اطلاعات، سبدگردانی بهینه را متمازد ساخته است</p>
        <p><a class="btn btn-default" href="#">بیشتر &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>سایر خدمات مالی</h2>
        <p>خدماتی نظیر گزارشگری مالی، مدیریت امور مالی، و سایر خدمات مشاوره‌ای را از گروه بهینه دریافت کنید</p>
        <p><a class="btn btn-default" href="#">بیشتر &raquo;</a></p>
    </div>
</div>