@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "تعلیق";
}

<hgroup>
    <h1 class="text-danger">به حالت تعلیق</h1>
    <h2 class="text-danger">این حساب تعلیق شده است، لطفا بعدا تلاش کنید</h2>
</hgroup>
